<div class="col-11 col-md-5 col-lg-4 col-xl-3 p-2 mt-2 mx-auto">
  <form id="createArticleForm">
    <div class="card border-success">
      <div class="card-header bg-success text-white">
        Create Article
      </div>
      <div class="p-2">
        <label for="txtTitle">Title</label>
        <input class="form-control" type="text" id="txtTitle" />
      </div>
      <div class="p-2">
        <label for="txtContent">Content</label>
        <textarea class="form-control" id="txtContent" rows="5"></textarea>
      </div>
      <div class="p-2 mx-auto">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/createArticle.js"></script>